@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-600";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "poppins-500";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

html,
body {
  font-family: "poppins-500";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eef2f8;
  display: none;
}

::-webkit-scrollbar-track:hover {
  display: block;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94a0b4;
  border-radius: 12px;
  display: block;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  border-radius: 13px !important;
}

.breadcrumb-before::before {
  display: inline-block;
  content: "";
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: #6d71f9;
}

.t::before,
.s::before,
.f::before {
  display: inline-block;
  content: "";
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
}
.t::before {
  background-color: #6d71f9;
}

.s::before {
  background-color: #34aa44;
}
.f::before {
  background-color: #ff291f;
}

.table-shadow {
  box-shadow: 0px 10px 13px 0px rgba(17, 38, 146, 0.05);
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  padding-bottom: 15px;
  background-color: #F5F6FA !important;
  color: #1c1a39 !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline > li {
  margin-bottom: -10px !important;
  margin-right: 0 !important;
  width: max-content;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline .active {
  color: #6D71F9 !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline > li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #1c1a39;
  margin-right: 15px;
  margin-left: -15px;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline .active::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #6D71F9;
  margin-right: 15px;
  margin-left: 33px;
  margin-top: 24px;
}
